body {
    background-color: #0b0a0a
}

.card {
    width: 400px;
    background-color: rgb(16, 222, 30);
    border: none;
    border-radius: 12px
}

label.radio {
    cursor: pointer;
    width: 100%
}

label.radio input {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    pointer-events: none
}

label.radio button {
    padding: 7px 14px;
    border: 2px solid #eee;
    background-color: rgb(16, 222, 30);
    display: inline-block;
    color: #fcfcfc;
    border-radius: 10px;
    width: 100%;
    height: 48px;
    line-height: 27px
}

label.radio input:checked+button {
    border-color: #f5f9f6;
    background-color: #031005;
    color: #fff;
    border-radius: 9px;
    height: 48px;
    line-height: 27px
}

.form-control {
    margin-top: 10px;
    height: 48px;
    border: 2px solid #eee;
    border-radius: 10px
}

.form-control:focus {
    box-shadow: none;
    border: 2px solid #000000
}

.agree-text {
    font-size: 12px
}

.terms {
    font-size: 12px;
    text-decoration: none;
    color: #e9e9e9
}

.confirm-button {
    height: 50px;
    border-radius: 10px
}